.scrollmascotas{
    overflow-y: scroll;
    height: 210px;
    border-radius: 3px;
}

.scrollmascotas .scrollmascota{
    min-width: 90%;
    border-radius: 3px;
    height: 230px;
    padding: 15px;
}

.scrollmascota :hover{
    background: #ccf0cf;
    cursor: pointer;
}

.thecardmascbut {
    display: grid;
    grid-template-columns: 4fr 3fr;
    align-items: center;
    border-radius: 3px;
    padding: 5px;
}

.huellaimg{
    width: 40px;
}

@media only screen and (max-width: 426px) {
    .thecardmascbut {
        grid-template-columns: 1fr;
    }

    .scrollmascotas .scrollmascota{
        height: 290px;
    }

    .scrollmascotas{

        height: 290px;
    }
    
}