.consusmerimg{
    width: 300px;
    height: 300px;
    border-radius: 530px;
}

.consusmerimg{
    margin-bottom: 0;
}

.perftext{
    margin-top: 15px;
    text-align: center;
}

div.show-image {
    margin:5px;
    border-radius: 530px;
    width: 300px;
    height: 300px;
    margin: auto;
}

.hover-img{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 150px;
    border-radius: 0px 0px 530px 530px;
}

div.show-image:hover div.hover-img{
    background-color: rgb(0, 0, 0,0.4);
    cursor: pointer;
}

div.show-image h1.place-text{
    position: absolute;
    color: rgb(240, 240, 240);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.place-text{
    color: black;
}

div.show-image:hover h1.place-text{
    display: block;
}

@media only screen and (max-width:1440px){
    .consusmerimg{
        width: 250px;
        height: 250px;
    }
    .hover-img{
        width: 250px;
        height: 125px;
    }
    .hover-img{
        top: 62%;
    }
}

@media only screen and (max-width:1024px){
    .consusmerimg{
        width: 200px;
        height: 200px;
    }
    .hover-img{
        width: 200px;
        height: 100px;
    }
    div.show-image{
        width: 200px;
        height: 200px;
    }
    .hover-img{
        top: 74%;
    }
}

@media only screen and (max-width:768px){
    .consusmerimg{
        width: 200px;
        height: 200px;
    }
    .hover-img{
        width: 200px;
        height: 100px;
    }
    div.show-image button.update {
        left: 38%;
    }
    div.show-image{
        width: 200px;
        height: 200px;
    }
    
}

@media only screen and (max-width:425px){
    .userimg{
        width: 200px;
        height: 200px;
    }
    div.show-image{
        width: 200px;
        height: 200px;
    }
}