.MainColor{
    background-color: #34b23a;
}

.DarkMainColor{
    background-color: #214132;
}

.Gradientecolor{
   
        background: 
            linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));

}

.BackgroundColor{
    background-color: #f6f8f9;
}

.WhiteColor{
    background-color: #ffffff;
}

.AltBackgroundColor{
    background-color: #E5FFE8;
}

.ComplementColor{
    background-color: #4d2f16;
}

.DarkColor{
    background-color: #040259; /*Este no esta definido*/
}

.MainGradient{
    background: #359434;
} 
