.center{
    display: grid;
    justify-content:center;
}
.val-fieldset {
    width:100%;
    border:none;
    font-weight:bold;
    font-size:1em;
    }
    .valoracion {
    
    width: 100px;
    height: 21px;
    display: block;
    background:url(http://lh5.googleusercontent.com/-Sp-iHFztZdc/UVD89O9oM1I/AAAAAAAAEU0/Xh-FBDaWyJY/s000/estrellas.png) 0 0 no-repeat;
    }
    .val-0 {background-position: -100px -0;}
    .val-5 {background-position: -81px -21px;}
    .val-10 {background-position: -81px 0;}
    .val-15 {background-position: -61px -21px;}
    .val-20 {background-position: -60px 0;}
    .val-25 {background-position: -40px -21px;}
    .val-30 {background-position: -40px 0;}
    .val-35 {background-position: -21px -21px;}
    .val-40 {background-position: -21px 0;}
    .val-45 {background-position: 0 -21px;}
    .val-50 {background-position: 0 0;}