.TextMainColor{
    color: #53cd5a;
    text-decoration: none;
}

.TextAltMainColor{
    color: #86B220;
    text-decoration: none;
}

.TextDarkMainColor{
    color: #0a5d00;
    text-decoration: none;
}

.TextWhiteColor{
    color: #ffffff;
    text-decoration: none;
}

.TextGrayColor{
    color: #B4B6B7 ;
    text-decoration: none;
}

.TextLightColor{
    color: #E5FFE8;
    text-decoration: none;
}

.TextUltraDarkColor{
    color: black;
}

.TextComplementColor{
    color: #44211d;
    text-decoration: none;
}


.TextLinkComplementColor{
    color: #A93226;
    text-decoration: none; /* Este no esta definido*/
}

