
/**** efecto 1 = zoom con subir y texto***/

.transition {
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }

.div-img {
display: block;
margin-left: auto;
margin-right: auto;
}
.div-img .img {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
-webkit-transform: 0px 0px 1;
-moz-transform: 0px 0px 1;
-ms-transform: 0px 0px 1;
-o-transform: 0px 0px 1;
transform: 0px 0px 1;
transform: translate(0px, 0px) scale(1);
-webkit-transform: translate(0px, 0px) scale(1);
-moz-transform: translate(0px, 0px) scale(1);
-o-transform: translate(0px, 0px) scale(1);
-ms-transform: translate(0px, 0px) scale(1);
-webkit-transition: all 0s ease 0s;
-moz-transition: all 0s ease 0s;
-o-transition: all 0s ease 0s;
transition: all 0s ease 0s;
-webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
}
.div-img .text {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
z-index: -1;
display: block;
margin-top: -35%;
bottom: 5%;
width: 100%;
text-align: center;
-webkit-transform: 0px 0px  0.5;
-moz-transform: 0px 0px  0.5;
-ms-transform: 0px 0px  0.5;
-o-transform: 0px 0px  0.5;
transform: 0px 0px  0.5;
transform: translate(0px, 0px) scale( 0.5);
-webkit-transform: translate(0px, 0px) scale( 0.5);
-moz-transform: translate(0px, 0px) scale( 0.5);
-o-transform: translate(0px, 0px) scale( 0.5);
-ms-transform: translate(0px, 0px) scale( 0.51);
-webkit-transition: all 0s ease 0s;
-moz-transition: all 0s ease 0s;
-o-transition: all 0s ease 0s;
transition: all 0s ease 0s;
-webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
}
.div-img:hover .img {
-webkit-transform: 0px -30px 0.5;
-moz-transform: 0px -30px 0.5;
-ms-transform: 0px -30px 0.5;
-o-transform: 0px -30px 0.5;
transform: 0px -30px 0.5;
transform: translate(0px, -30px) scale(0.5);
-webkit-transform: translate(0px, -30px) scale(0.5);
-moz-transform: translate(0px, -30px) scale(0.5);
-o-transform: translate(0px, -30px) scale(0.5);
-ms-transform: translate(0px, -30px) scale(0.5);
border-radius: 50%;
}
.div-img:hover .text {
    position: static;
    -webkit-transform: 0px 0px 1;
    -moz-transform: 0px 0px 1;
    -ms-transform: 0px 0px 1;
    -o-transform: 0px 0px 1;
    transform: 0px 0px 1;
    transform: translate(0px, 0px) scale(1);
    -webkit-transform: translate(0px, 0px) scale(1);
    -moz-transform: translate(0px, 0px) scale(1);
    -o-transform: translate(0px, 0px) scale(1);
    -ms-transform: translate(0px, 0px) scale(1);
}
/****************************************/
/********colores*******/
.color-ligth{
    background-color: #beffba;
  }
.color-dark{
    background: #53cd5a;
    
}
.color-primary{
    background: #89ff89;
    
}
.color-backgroud{
    background: #ffffff;
}
/**************************************/

/*************text********/

.text-font {
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/**************************************/
