
/*colores*/
.color-ligth{
    background-color: #beffba;
  }
.color-dark{
    background: #53cd5a;
    
}
.color-primary{
    background: #89ff89;
    
}
.color-backgroud{
    background: #ffffff;
}


  
  /*imagenes */
.imagetamano{
    height: 16rem;
    width: 16rem;
}
.logo-size{
  height: 100%;
  width: 50px;
  margin-top: 1%;
  /*margin-left: 45%;*/
}
.style{
  width: 18rem;
  padding: 1em;
}

/*pading */
.padding-section{
    padding-top: 3%;
    padding-bottom: 1%;
  }
.padding-card{
    padding: 1%;
  }
  .padding-title{
    margin-right: 20px;
    margin-left: 20px;
}
  /*text*/
.text-align{
    text-align: center;
    
  }

.text-section{
    text-align: left;
    padding-left: 5%;
}
 
.text-font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-font1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2em;
}

.thelogbutton{
  border: none;
  background: none;
}
