.image-serv-card-cons{
    max-height: 350px;
    filter: brightness(40%);
}

.serv-img-container{
    position: relative;
}

.serv-img-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.ser-img-pers-cons{
    height: 150px;
    width: 150px;
}

@media only screen and (max-width:1700px){
    .image-serv-card-cons{
        max-height: 270px;
    }
}

@media only screen and (max-width:1280px){
    .ser-img-pers-cons{
        height: 80px;
        width: 80px;
    }
}

@media only screen and (max-width:424px){
    .ser-img-pers-cons{
        height: 90px;
        width: 90px;
    }
}