/* .landingheadcont{
    position: relative;
} */

.landingheadimg{
    filter: brightness(40%);
}

.landingheadinfo{
    position: absolute;
    top: 66px;
    /* left: 50%;    
    transform: translate(-50%, -50%); */
}

.theselect{
    width: 220px;
    height: 35px;
}

.loginandregisterinput {
    margin-left: 15%;
    width: 70%;
}

@media only screen and (max-width:1440px){
    .loginandregisterinput {
        margin-left: 10%;
        width: 80%;
    }
    .theselect{
        width: 220px;
    }
}

@media only screen and (max-width:1024px){
    .loginandregisterinput {
        margin-left: 5%;
        width: 90%;
    }
    .theselect{
        width: 200px;
    }
}

@media only screen and (max-width:768px){
    .loginandregisterinput {
        margin-left: 20%;
        width: 60%;
    }
    .theselect{
        width: 280px;
    }
}

@media only screen and (max-width:425px){
    .loginandregisterinput {
        margin-left: 10%;
        width: 80%;
    }
    .theselect{
        width: 240px;
    }
}

@media only screen and (max-width:600px){
    div.lowerbar p {
        font-size: 15px;
    }
}