
/****************************************/
/********colores*******/
.color-ligth{
    background-color: #beffba;
  }
.color-dark{
    background: #53cd5a;
    
}
.color-primary{
    background: #89ff89;
    
}
.color-backgroud{
    background: #ffffff;
}
/**************************************/

 
/******pading *************/

/**************************************/


  /*************text********/
.text-align{
    text-align: center;
    
  }


.text-font {
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/**************************************/
